* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: inline-block;
}

li {
  list-style: none;
}

main {
  padding: 0 15px;
  margin: 0 auto;
}

p#notice {
  color: green;
}

.field, .actions {
  margin-bottom: 10px;
}

.mx-auto {
  margin: 0 auto;
}